body {
   background-image: url(/img/background.png);
   background-size: cover;
   background-repeat: no-repeat;
   width: 100vw;
   height: 100vh;
}

.header {
   background: rgba(0, 0, 0, 0.40);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   height: 58px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 79px;
}

.logo a {
   color: white;
   font-size: 22px;
   font-family: Ubuntu, sans-serif;
   font-weight: 700;
   line-height: 22px;
   -webkit-text-stroke: 1px black;
   text-decoration: none;
   transition: all 200ms ease-in-out;
}

.logo a:hover {
   color: #3CB878;
   -webkit-text-stroke: unset;
}

.nav-bar {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.nav-img {
   padding-right: 26px;
}

.nav-img:hover path{
   fill: #3CB878;
   transition: all 200ms ease-in-out;
}

.greeting::before {
   content: "";
   width: 1px;
   height: 19px;
   background-color: rgba(255, 255, 255, 0.9);
   opacity: 90%;
   display: block;
   position: absolute;
   left: 146px;
   bottom: 4px;
}

.greeting {
   display: inline;
   color: white;
   font-size: 14px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 14px;
   padding-left: 27px;
}

.greeting a {
   text-decoration: none;
   color: white;
   font-size: 14px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 14px;
   transition: all 200ms ease-in-out;
}

.greeting a:hover {
   color: #3CB878;
}

main {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
}

.form-wrapper {
   width: 444px;
   height: 584px;
   background-color: rgba(255, 255, 255, 1);
   position: relative;
}

.container {
   width: 322px;
   margin: 0 auto;
   padding: 31px 0 38px;
}

.login {
   display: flex;
   justify-content: space-between;
}

.login h2 {
   color: #434343;
   font-size: 20px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 20px;
}

.login h2::before {
   content: "";
   background-color: rgba(60, 184, 120, 1);
   width: 18px;
   height: 18px;
   display: block;
   position: absolute;
   left: 0;
}

.login a {
   color: #3CB878;
   font-size: 14px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 14px;
   text-decoration: none;
   transition: all 200ms ease-in-out;
}

.login a:hover {
   color: #01813F;
   text-decoration: underline;
}

.socials {
   margin-top: 15px;
   display: flex;
   gap: 4px;
}

.socials-box {
   background-color: rgba(48, 93, 184, 1);
   width: 159px;
   height: 46px;
   border: 1px solid black;
   border-radius: 4px;
   position: relative;
   transition: all 200ms ease-in-out;
}

.socials-box:hover {
   background-color: rgba(2, 34, 99, 1);
}

.google-box {
   height: 48px;
   background-color: rgba(223, 74, 50, 1);
   border: none;
}

.google-box:hover {
   background-color: rgba(171, 31, 9, 1);
}

.social-item {
   text-decoration: none;
   display: flex;
   padding: 0 22px 0 11px;
}

.social-item img {
   padding-top: 12px;
}

.google-item img {
   width: 30px;
   height: 19px;
   padding-top: 15px;
}

.social-item p {
   color: white;
   font-size: 16px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 16px;
   padding-top: 17px;
   padding-left: 32px;
 }

.social-item p::before {
   content: "";
   opacity: 0.10;
   background: #0A162F;
   width: 1px;
   height: 28px;
   display: block;
   position: absolute;
   left: 48px;
   bottom: 11px;
}

.separator {
   margin-top: 32px;
   text-align: center;
   color: #848484;
   font-size: 14px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 14px;
   position: relative;
}

.separator::before {
   content: "";
   width: 150px;
   height: 1px;
   background-color: rgba(242, 242, 242, 1);
   display: block;
   position: absolute;
   bottom: 5px;
}

.separator::after {
   content: "";
   width: 150px;
   height: 1px;
   background-color: rgba(242, 242, 242, 1);
   display: block;
   position: absolute;
   bottom: 5px;
   right: 0;
}

.form-item {
   box-sizing: border-box;
   width: 322px;
   height: 44px;
   border-radius: 4px;
   border: 1px #F2F2F2 solid;
   margin-top: 15px;
   padding-left: 20px;
}

.form-item:focus {
   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
   outline: none;
}

.hidden-label {
   visibility: hidden;
   position: absolute;
   z-index: -1;
   width: 0;
   height: 0;
}

.form-item::placeholder {
   color: #BEBEBE;
   font-size: 14px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 14px;
}

.custom-checkbox .checkbox {
   display: inline-block;
   border: 1px solid #F2F2F2;
   width: 20px;
   height: 20px;
   position: relative;
   vertical-align: middle;
   box-sizing: border-box;
}

.custom-checkbox input:checked + .checkbox {
   background-image: url("/img/checkbox.svg");
   background-size: cover;
   background-repeat: no-repeat;
}

.checkbox-text {
   margin-left: 8px;
   color: #434343;
   font-size: 14px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 14px;
}

.checkbox-text a {
   color: #3CB878;
   text-decoration: none;
   transition: all 200ms ease-in-out;
}

.checkbox-text a:hover {
   color: #01813F;
   text-decoration: underline;
}

.checkbox-wrapper {
   margin-top: 12px;
}

.button {
   margin-top: 20px;
   width: 100%;
   height: 46px;
   background: rgba(60, 184, 120, 0.80);
   border-radius: 4px;
   border: none;
   color: white;
   font-size: 16px;
   font-family: Ubuntu, sans-serif;
   font-weight: 400;
   line-height: 16px;
   transition: all 200ms ease-in-out;
}

.button:hover {
   background: #01813F;
}


